{% extends "base.html" %}

{% block title %}
    Произведения
{% endblock %}


{% block content %}

    <div class="container">
        <div class="row justify-content-center">

            <div class="col-md-2 d-flex justify-content-center">
                <div class="card" style="width: 10rem;">
                    <img src="../static/image/woina_mir.jpg" class="card-img-top" alt="Война и мир">
                    <div class="card-body">
                        <h5 class="card-title">Война и мир</h5>
                        <p class="card-text">Романом «Война и мир» Л. Н. Толстой создал грандиозное литературное полотно о России начала XIX века. Подробная хроника жизни нескольких дворянских семей, масштабные батальные сцены, точный портрет общества с его идеологией, философией, приметами быта — во всех оставляющих романа исследователи признают «высшую художественную объективность» автора. Писатель исследовал русский характер на примере нескольких сотен персонажей. Часть из них — исторические лица, часть — созданы на основе прототипов, в том числе членов семьи самого Толстого.</p>
                        <a href="#" class="btn btn-primary">Подробнее</a>
                    </div>
                </div>
            </div>

            <div class="col-md-2 d-flex justify-content-center">
                <div class="card" style="width: 10rem;">
                    <img src="../static/image/voskresenie.jpg" class="card-img-top" alt="Воскресение">
                    <div class="card-body">
                        <h5 class="card-title">Воскресение</h5>
                        <p class="card-text">Могло ли случиться такое совпадение, что Дмитрий Нехлюдов, отправляясь в суд исполнить свой гражданский долг в качестве присяжного, обнаружит на скамье подсудимых… кого же? Катюшу Маслову, полугорничную-полувоспитанницу, которую он много лет назад соблазнил и бросил. Роман, вскрывающий несовершенства и пороки общества конца XIX века.</p>
                        <a href="#" class="btn btn-primary">Подробнее</a>
                    </div>
                </div>
            </div>

            <div class="col-md-2 d-flex justify-content-center">
                <div class="card" style="width: 10rem;">
                    <img src="../static/image/odumaites.jpg" class="card-img-top" alt="Одумайтесь!">
                    <div class="card-body">
                        <h5 class="card-title">Одумайтесь!, 1904 год</h5>
                        <p class="card-text">Антивоенный манифест Л.Н. Толстого «Одумайтесь!» начинается со слов «Опять война» и потому, на первый взгляд, кажется реакцией на проигранную Россией войну с Японией 1904-1905 гг. Между тем, он был задуман еще до ее начала: в этой статье 75-летний писатель подводил итог своим давним размышлениям о насилии и власти, о религии и личной ответственности, о социальных и национальных конфликтах.</p>
                        <a href="#" class="btn btn-primary">Подробнее</a>
                    </div>
                </div>
            </div>

            <div class="col-md-2 d-flex justify-content-center">
                <div class="card" style="width: 10rem;">
                    <img src="../static/image/hadji_murat.jpg" class="card-img-top" alt="Хаджи-Мурат">
                    <div class="card-body">
                        <h5 class="card-title">Кавказкий пленник</h5>
                        <h5 class="card-title">Хаджи-Мурат</h5>
                        <p class="card-text">"Кавказский пленник" и "Хаджи-Мурат", созданные на основе реальных событий, посвящены событиям русско-кавказской войны середины XIX века. В этих произведениях Л.Н. Толстой с огромной художественной силой показывает бессмысленность и жестокость войны. Писатель с большой симпатией рассказывает историю русского офицера Жилина, "кавказского пленника", сила духа и стойкость которого помогли ему найти выход из, казалось бы, безнадежного положения. Повесть небывалого трагического накала "Хаджи-Мурат", которая по праву считается жемчужиной позднего творчества великого классика, - это гимн человеку чести, гордому и мужественному, верному своему народу, "презирающему смерть".</p>
                        <a href="#" class="btn btn-primary">Подробнее</a>
                    </div>
                </div>
            </div>

            <div class="col-md-2 d-flex justify-content-center">
                <div class="card" style="width: 10rem;">
                    <img src="../static/image/anna_karenina.jpg" class="card-img-top" alt="Анна Каренина">
                    <div class="card-body">
                        <h5 class="card-title">Анна Каренина</h5>
                        <p class="card-text">"Анну Каренину" по праву называют самым известным и популярным в мире романом о любви. "Огромная разработка души человеческой", как отзывался о книге Достоевский, — вот, наверное, что больше всего подкупает нас в этой книге. История всепоглощающей страсти, история замужней женщины, полюбившей красавца офицера и бросившей своего мужа наперекор всему: мнению света, общепринятой морали, своей совести. Эта книга, конечно, гораздо больше, чем просто роман о любви, это целая наука о семье, об обществе и о жизни.</p>
                        <a href="#" class="btn btn-primary">Подробнее</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
