{% extends "base.html" %}

{% block title %}
    Главная
{% endblock %}


{% block content %}

<h1 class="mt-4">Лев Николаевич Толстой</h1>
<p>Лев Толстой — один из величайших писателей и мыслителей 19 века, автор таких произведений как "Война и мир" и "Анна Каренина". Его творчество охватывает широкий спектр философских, религиозных и нравственных тем, и оказывает сильное влияние на литературу по сей день.</p>

<h3>Краткая биография</h3>
<p>Родился в 1828 году в Тульской губернии. С юных лет Толстой увлекался литературой и стремился к просвещению народа. После службы в армии он полностью посвятил себя литературной деятельности. Основные темы его творчества — гуманизм, нравственность и поиск смысла жизни.</p>

<p>Толстой также был известен своими реформаторскими взглядами, призывая к простоте и искренности в жизни. Его взгляды и подход к жизни вдохновили многие поколения по всему миру.</p>

{% endblock %}

